html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
}

p {
    font-size: 1.6rem;
}

small {
    font-size: 1.2rem;
}


.title {
    font-size: 4.4rem;
    text-align: center
}

.form {
    display: grid inline-grid;
}


/* .input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
} */

.button {

    list-style: none;
    text-align: center;
    line-height: 60px;
    background-color: rgba(52, 186, 235);
    color: white;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(225, 241, 247);
}



.list-item{
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
}

.wrapper {
    width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
  }
